.navbar{

backdrop-filter:blur(14px);

transition:.3s;

}

.navbar-brand{

font-weight:700;

letter-spacing:.5px;

}

.nav-link{

position:relative;

font-weight:600;

}

.nav-link::after{

content:"";

position:absolute;

left:0;

bottom:-5px;

width:0;

height:2px;

background:var(--bailoteca-primary);

transition:.3s;

}

.nav-link:hover::after{

width:100%;

}